@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #22c55e;
  --background-light: #f9fafb;
  --background-dark: #111827;
  --text-light: #111827;
  --text-dark: #f9fafb;
  --muted-light: #6b7280;
  --muted-dark: #9ca3af;
  --border-light: #e5e7eb;
  --border-dark: #374151;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background-light);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.swal2-title {
  color: var(--text-light) !important;
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}

.swal2-html-container {
  color: var(--text-light) !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.swal2-confirm {
  background-color: var(--primary) !important;
  color: var(--text-dark) !important;
}

.scrollbar-none {
  scrollbar-width: none;
  scrollbar-width: 0px;
}

/* Range input */
.range-slider {
  height: 6px !important;
}

.range-slider__range {
  background-color: var(--primary) !important;
  height: 6px !important;
}

.range-slider__thumb {
  background-color: white !important;
  width: 18px !important;
  height: 18px !important;
  border: 2px solid var(--primary) !important;
}
