name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Build JS assets
        run: |
          cd frontend
          npm install
          npm run build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-assets
          path: frontend/out/

  deploy-frontend:
    runs-on: ubuntu-latest
    needs: build-frontend

    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-assets
          path: out/

      - name: Upload to FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.FTP_FRONTEND_HOST }}
          username: ${{ secrets.FTP_FRONTEND_USER }}
          password: ${{ secrets.FTP_FRONTEND_PASSWORD }}
          local-dir: out/
          server-dir: /
          git-ftp-args: --delete
